<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>矢向の床屋 ヘアーサロン マリモ / お問い合わせ</title>
<%- include('../include/_head-meta', {}) %>
<%- include('../include/_head-link', {}) %>
<%- include('../include/_head-javascript', {}) %>
</head>
<body id="contact">
<div id="container">
<header class="header">

<%- include('../include/_header', {}) %>

</header>
<div id="globalHeader">
<nav class="menu">
<a href="#" id="panel-btn"><span id="panel-btn-icon"></span></a>
<ul id="panel">
<li class="home"><a href="/index.html"><div>ホーム</div></a></li>
<li class="price"><a href="/price/index.html"><div>料金表</div></a></li>
<li class="access"><a href="/access/index.html"><div>交通アクセス</div></a></li>
<li class="info"><a href="/info/index.html"><div>店舗情報</div></a></li>
<li class="contact"><a href="index.html"><div>お問い合わせ</div></a></li>
</ul>
</nav>
</div><!-- /#globalHeader -->
<main class="main">
<section class="form">
<h2>お問い合わせ</h2>
<p>※お手数ですが返信用にメールアドレス、及びお名前をお入れください。<br>
下部によくある質問欄もございますので、そちらもご覧ください。</p>
<iframe src="https://docs.google.com/forms/d/19uLcARIFZw72XP2GqIbzA2ZJTSDe17t6NhDhg0GzNUo/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">読み込んでいます...</iframe>
</section>
<section class="q-a">
<h2>よくあるご質問</h2>
<p>お客様からいただくよくあるご質問をお見せします</p>
<ul>
<li class="question"><span>Q.　</span>美容室ですか？</li>
<li class="answer"><span>A.　</span>理容室(床屋)です。</li>
<li class="question"><span>Q.　</span>女性のカラーはできますか？</li>
<li class="answer"><span>A.　</span>基本的には可能ですが、シャンプー台が前かがみタイプなので化粧が取れてしまう恐れがあるため確認をいただいております。</li>
<li class="question"><span>Q.　</span>お家に来てカットしてもらえますか？</li>
<li class="answer"><span>A.　</span>自力で来店できない方に限りやらせていただきますが、あまり遠方だとお断りする場合もございます。</li>
<li class="question"><span>Q.　</span>乳幼児もカットできますか？</li>
<li class="answer"><span>A.　</span>はい、可能なのでぜひお越しください。</li>
<li class="question"><span>Q.　</span>予約はやってますか？</li>
<li class="answer"><span>A.　</span>申し訳ございませんが、予約は承ってございません。</li>
</ul>
</section>
</main>
</div><!-- /#container -->

<%- include('../include/_footer', {}) %>

<div id="to-top"><a href="#"><img src="../img/totop.gif" alt="トップへ"></a></div>
</body>
</html>

