<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>矢向の床屋 ヘアーサロン マリモ / 交通アクセス</title>
<%- include('../include/_head-meta', {}) %>
<%- include('../include/_head-link', {}) %>
<%- include('../include/_head-javascript', {}) %>
</head>
<body id="access">
<div id="container">
<header class="header">

<%- include('../include/_header', {}) %>

<p><img src="../img/access/accessTop.jpg" alt="交通アクセス"></p>
</header>
<div id="globalHeader">
<nav class="menu">
<a href="#" id="panel-btn"><span id="panel-btn-icon"></span></a>
<ul id="panel">
<li class="home"><a href="/index.html"><div>ホーム</div></a></li>
<li class="price"><a href="/price/index.html"><div>料金表</div></a></li>
<li class="access"><a href="index.html"><div>交通アクセス</div></a></li>
<li class="info"><a href="/info/index.html"><div>店舗情報</div></a></li>
<li class="contact"><a href="/contact/index.html"><div>お問い合わせ</div></a></li>
</ul>
</nav>
</div><!-- /#globalHeader -->
<main class="main">
<section class="map">
<h2>地図</h2>
<div id="map">
<p><img src="../img/topimg/map.png" alt="マップ"></p>
</div>
<div id="detail">
<p>住所　〒230-0001<br>
　　　神奈川県横浜市鶴見区矢向1-6-9
</p>
<p>南武線尻手駅より徒歩10分</p>
<p>バスでお越しの際は<br>
川崎鶴見臨港バス<br>
「汐田総合病院前」すぐにございます</p>
<p>車でお越しの際は<br>
近隣のコインパーキングを<br>
ご利用いただきますようお願いします<br>
</p>
<p><a  href="https://www.google.co.jp/maps/place/%E3%80%92230-0001+%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E6%A8%AA%E6%B5%9C%E5%B8%82%E9%B6%B4%E8%A6%8B%E5%8C%BA%E7%9F%A2%E5%90%91%EF%BC%91%E4%B8%81%E7%9B%AE%EF%BC%96%E2%88%92%EF%BC%99/@35.5297717,139.675248,17z/data=!3m1!4b1!4m2!3m1!1s0x60185e3a421fe0a7:0xf6d15fe763ec888b" target="_blank">Google Mapを見る</a></p>
<p onclick="window.print()" class="printer">地図を印刷する</p>
</div>
</section>
<section class="picture">
<h2>写真で道案内</h2>
<p class="first">南武線尻手駅より当店への案内を写真でいたします</p>
<div class="picture guide">
<h3>1.改札から外へ</h3>
<p><img src="../img/access/access01.jpg" alt="写真で道案内1"></p>
<p class="description">唯一の改札から出て左に向かってください</p>
</div>
<div class="picture guide">
<h3>2.そのまままっすぐ</h3>
<p><img src="../img/access/access02.jpg" alt="写真で道案内2"></p>
<p class="description">改札を出たらそのまま駅舎内を進んでください</p>
</div>
<div class="picture guide">
<h3>3.左に曲がる</h3>
<p><img src="../img/access/access03.jpg" alt="写真で道案内3"></p>
<p class="description">駅舎内を進んだ先を左に進んでください</p>
</div>
<div class="picture guide">
<h3>4.高架下をくぐる</h3>
<p><img src="../img/access/access04.jpg" alt="写真で道案内4"></p>
<p class="description">駅舎を出て左に曲がったら高架下をくぐって直進してください<br>
途中にセブンイレブンとファミリーマートがあります</p>
</div>
<div class="picture guide">
<h3>5.左斜め前に進む</h3>
<p><img src="../img/access/access05.jpg" alt="写真で道案内5"></p>
<p class="description">側道側をしばらく進んでください</p>
</div>
<div class="picture guide">
<h3>6.階段を上がる</h3>
<p><img src="../img/access/access06.jpg" alt="写真で道案内6"></p>
<p class="description">まっすぐ進み階段を上がってください</p>
</div>
<div class="picture guide">
<h3>7.上がったら右へ</h3>
<p><img src="../img/access/access07.jpg" alt="写真で道案内7"></p>
<p class="description">階段を上りきったら右へ曲がってください</p>
</div>
<div class="picture guide">
<h3>8.信号を渡る</h3>
<p><img src="../img/access/access08.jpg" alt="写真で道案内8"></p>
<p class="description">左に曲がり信号を渡ってください</p>
</div>
<div class="picture guide">
<h3>9.そのまま直進</h3>
<p><img src="../img/access/access09.jpg" alt="写真で道案内9"></p>
<p class="description">信号を渡ったら左手に汐田同号病院を見ながら直進してください</p>
</div>
<div class="picture guide">
<h3>10.信号を渡り階段を下る</h3>
<p><img src="../img/access/access10.jpg" alt="写真で道案内10"></p>
<p class="description">信号を渡って左に曲がり右手にある階段を下ってください</p>
</div>
<div class="picture guide">
<h3>11.直進し十字路を左へ</h3>
<p><img src="../img/access/access11.jpg" alt="写真で道案内11"></p>
<p class="description">階段を下ると十字路がございますので左にまがってください</p>
</div>
<div class="picture guide visited">
<h3>12.ヘアーサロン マリモへ到着</h3>
<p><img src="../img/access/access12.jpg" alt="写真で道案内12"></p>
<p class="description">左に曲がるとすぐに店舗がございます、お越しいただきありがとうございます</p>
</div>
</section>
</main>
</div><!-- /#container -->

<%- include('../include/_footer', {}) %>

<div id="to-top"><a href="#"><img src="../img/totop.gif" alt="トップへ"></a></div>
</body>
</html>